[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
	ignore = dirty
[submodule "bundle/EnhancedCommentify"]
	path = bundle/EnhancedCommentify
	url = https://github.com/hrp/EnhancedCommentify.git
	ignore = dirty
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
	ignore = dirty
[submodule "bundle/lusty"]
	path = bundle/lusty
	url = https://github.com/sjbach/lusty.git
	ignore = dirty
[submodule "bundle/neco-look"]
	path = bundle/neco-look
	url = https://github.com/ujihisa/neco-look.git
	ignore = dirty
[submodule "bundle/neocomplcache"]
	path = bundle/neocomplcache
	url = https://github.com/Shougo/neocomplcache.git
	ignore = dirty
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
	ignore = dirty
[submodule "bundle/tcomment"]
	path = bundle/tcomment
	url = https://github.com/tomtom/tcomment_vim.git
	ignore = dirty
[submodule "bundle/autoclose"]
	path = bundle/autoclose
	url = https://github.com/Townk/vim-autoclose.git
	ignore = dirty
[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
	ignore = dirty
[submodule "bundle/vimproc"]
	path = bundle/vimproc
	url = https://github.com/Shougo/vimproc.git
	ignore = dirty
[submodule "bundle/ragtag"]
	path = bundle/ragtag
	url = https://github.com/tpope/vim-ragtag.git
	ignore = dirty
[submodule "bundle/session"]
	path = bundle/session
	url = https://github.com/xolox/vim-session.git
	ignore = dirty
[submodule "bundle/vimshell"]
	path = bundle/vimshell
	url = https://github.com/Shougo/vimshell.git
	ignore = dirty
[submodule "bundle/sparkup"]
	path = bundle/sparkup
	url = https://github.com/rstacruz/sparkup.git
	ignore = dirty
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
	ignore = dirty
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
	ignore = dirty
[submodule "bundle/yankring"]
	path = bundle/yankring
	url = https://github.com/vim-scripts/YankRing.vim.git
	ignore = dirty
[submodule "bundle/neocomplcache_snippets-complete"]
	path = bundle/neocomplcache_snippets-complete
	url = https://github.com/Shougo/neocomplcache-snippets-complete.git
	ignore = dirty
[submodule "bundle/jsbeautify"]
	path = bundle/jsbeautify
	url = https://github.com/vim-scripts/jsbeautify.git
